<footer class="site-footer fade-in">
  <div class="footer-top">
    <span class="footer-icon">
      {% octicon people height:42 class:"d-block mx-auto mb-3 text-center fill-gray" aria-label:people %}
    </span>
    <h3 class="alt-h2 mb-4">Explore OSeMOSYS on</h3>
    <div class="footer-social">
      {% for item in site.data.social_media %}
        <a href="{{ item.url }}" target="_blank" aria-label="{{ item.name }}">
          <i class="{{ item.icon }}"></i>
        </a>
      {% endfor %}
    </div>

    
    </p>
  </div>
  <p class="footer-copy">&copy; {{ site.tool_name }} {{ site.time | date: "%Y" }}. All Rights Reserved.</p>
</footer>