<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta property="og:image" content="{{ "/assets/img/osemosys-logo.png" | relative_url }}" />
  <meta property="og:image:alt" content="CCG" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/osemosys-logo.png" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header pt-4 pb-5">
    <div class="container-lg">

      <div class="container-lg d-flex justify-content-between align-items-center py-3">
  <!-- Left: Logo + Title -->
  <div class="d-flex align-items-center">
    <img src="{{ "/assets/img/osemosys-logo.png" | relative_url }}" alt="Logo" height="48" class="mr-3">
    <h1 class="mb-0 text-white" style="font-size: 1.5rem;">OSeMOSYS</h1>
  </div>

  <!-- Right: Nav Links -->
  <ul class="nav d-none d-md-flex">
    {% include subpage_links.html %}
  </ul>

  <!-- Mobile Menu -->
  <details class="dropdown d-md-none">
    <summary class="btn text-white">{% octicon three-bars height:28 class:"fill-white" %}</summary>
    <ul class="dropdown-menu dropdown-menu-se bg-dark">
      {% include subpage_links.html %}
    </ul>
  </details>
</div>

      
  
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
           