

<header class="site-header fade-in">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <div class="header-top">
    <div class="logo-left">
      <a href="{{ "/" | relative_url }}">
        <img src="/assets/img/osemosys-logo.png" alt="{{ site.tool_name }} Logo" class="responsive-logo">
      </a>
      <h1 class="tool-title">
        <a href="{{ "/" | relative_url }}">{{ site.tool_name }}</a>
      </h1>
    </div>
  </div>
  <nav class="nav-links">
    <ul>
      <li><a href="{{ "/about/" | relative_url }}">About</a></li>
      <li><a href="{{ "/applications/" | relative_url }}">Applications</a></li>
      <li><a href="{{ "/learning_capacity/" | relative_url }}">Learning</a></li>
      <li><a href="{{ "/contact/" | relative_url }}">Get Involved</a></li>
    </ul>
  </nav>
</header>